/* INSA 검사 */
.inspectionTitle{padding: 100px 0 75px;}
/* INSA 검사 - 진행*/
.inspectionProgress{display: flex; margin-bottom: 40px;}
.inspectionProgress li{flex: 1; border-bottom: 2px solid rgba(0,0,0,0.1);}
.inspectionProgress li > *{color: #939393;}
.inspectionProgress li small{display: block; font-size: 14px; font-weight: 900; margin-bottom: 12px}
.inspectionProgress li h3{font-size: 28px; font-weight: 300; margin-bottom: 14px;}
.inspectionProgress li.active{border-color: #006aed;}
.inspectionProgress li.active > *{color: #006aed;}


/* INSA 검사 - step 공통 */
.inspectionArea{width: 100%; overflow: hidden; position: relative;}
.inspectionArea > ol{width: 300%; display: flex; position: relative; left: 0;}
.inspectionArea > ol::after{content: ''; display: block; visibility: hidden; clear: both;}
.inspectionArea > ol > li{float: left; width: 100%;}
.inspectionArea small{font-size: 16px; font-weight: 300; color: rgba(0,0,0,0.45); }
.inspectionArea small::before{content: ''; display: inline-block; width: 5px; height: 5px; background: url(../image/inspection/bullet.png) no-repeat center center; background-size: contain; margin-right: 20px;}
.I_buttonArea{position: absolute; width: 100%; top: 325px; left: 0;}
.I_buttonArea > div{width: 100%; max-width: 1600px; margin: 0 auto; position: relative;}
.I_buttonArea > div button{position: absolute; top: 0; width: 80px; height: 80px; text-indent: -9999px; border: none; z-index: 2;}
.I_buttonArea > div button[aria-disabled="true"]{display: none;}
.I_buttonArea > div button.leftBtn{left: 0; background: url(../image/inspection/leftBtn.png) no-repeat center center;}
.I_buttonArea > div button.rightBtn{right: 0; background: url(../image/inspection/rightBtn.png) no-repeat center center;}
/* INSA 검사 - step 윗부분 */
.I_topArea{background-color: #f2faff;}
.I_topArea > div{padding: 55px 0 40px; text-align: center;}
.I_topArea > div h4{font-size: 24px; font-weight: 700; margin-bottom: 20px;}
.I_topArea > div p{font-size: 18px; font-weight: 300; margin-bottom: 60px;}
.I_topArea > div ul{display: flex; justify-content: center; margin-bottom: 80px;}
.I_topArea > div ul:not([class]) li{width: 23.125%; height: 420px; text-indent: -9999px; box-sizing: border-box; cursor: pointer;
    background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 20px;
}
.I_topArea > div ul li:not(:last-child){margin-right: 2.5%;}
/* .I_topArea > div ul:not([class]) li img{width: 100%;} */
/* INSA 검사 - step1*/
.step01Area > div ul:not([class]) li.active{border: 1px solid #006aed; position: relative;}
.step01Area > div ul:not([class]) li.active::before{content: ''; position: absolute; left: 20px; top: -15px; width: 30px; height: 30px; background: url(../image/inspection/activeIcon.png) no-repeat center; z-index: 1;}
.I_topArea > div small{font-size: 16px; font-weight: 300; color: rgba(0,0,0,0.45); display: flex; justify-content: center; align-items: center;}
.I_topArea > div small::before{content: ''; display: inline-block; width: 5px; height: 5px; background: url(../image/inspection/bullet.png) no-repeat center center; background-size: contain; margin-right: 20px;}
/* INSA 검사 - step 아래부분 */
.I_bottomArea{padding: 155px 0 140px;}
.I_bottomArea > div{margin-bottom: 20px;}
