@media screen and (max-width: 640px){
/* 현재 진행 공고1 */
.progressAnnouncementArea{background-color: #efefef; padding-bottom: 15.625vw;}
/* 현재 진행 공고1 - 타이틀*/
.PA_titleArea{display: flex; flex-direction: column; margin-bottom: 6.25vw;}
.PA_titleArea div{flex: 1;}
.PA_titleArea div p{ font-weight: 400;}
.PA_titleArea div:first-child{padding-top: 7.8125vw; margin-bottom: 6.25vw;}
.PA_titleArea div:first-child mark{display: inline-block; font-size: 3.75vw; font-weight: 300; color: #006aed; background-color: transparent; padding-bottom: 0.78125vw; position: relative; margin-bottom: 2.34375vw;}
.PA_titleArea div:first-child mark::after{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #006aed;}
.PA_titleArea div:first-child h2{margin-bottom: 5.46875vw;}
.PA_titleArea div:first-child p{display: flex; align-items: center; font-size: 3.4375vw;}
.PA_titleArea div:first-child p::before{content: ''; padding-right: 3.90625vw; width: 0.9375vw; height: 0.9375vw; background: url(../image/progressAnnouncement/bullet.png) no-repeat center center;}
.PA_titleArea div.PAT_lookupArea{display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: flex-end; align-content: flex-end;}
.PA_titleArea div.PAT_lookupArea p{width: 100%; text-align: right; font-size: 3.75vw; margin-bottom: 3.125vw;}
.PA_titleArea div.PAT_lookupArea p span::before{content: '“';}    
.PA_titleArea div.PAT_lookupArea p span::after{content: '”';}
.PA_titleArea div.PAT_lookupArea label{display: none;}
.PA_titleArea div.PAT_lookupArea select{width: 54.6875vw; height: 10.9375vw; font-size: 3.75vw; font-weight: 300; color: #5f5f5f; padding: 0 3.90625vw; box-sizing: border-box; margin-right: 3.125vw;}
.PA_titleArea div.PAT_lookupArea button{width: 25vw; height: 10.9375vw; font-size: 3.75vw; font-weight: 300; color: white; background-color: #343434; border: none;}
/* 현재 진행 공고2 - 버튼*/
.PA_titleArea div.PAT_btnArea{display: flex; justify-content: flex-end; align-items: center;}
.PA_titleArea div.PAT_btnArea button{width: 32.8125vw; height: 10.9375vw; font-size: 3.75vw; font-weight: 300; color: white; border: none; display: flex; justify-content: space-around; align-items: center;}
.PA_titleArea div.PAT_btnArea button:not(:last-child){margin-right: 2.34375vw;}
.PA_titleArea div.PAT_btnArea button::before{content: ''; width: 4.6875vw; height: 3.90625vw; background-repeat: no-repeat; background-position: center; background-size: contain;}
.PA_titleArea div.PAT_btnArea button.listBtn{background-color: #343434;}
.PA_titleArea div.PAT_btnArea button.listBtn::before{background-image: url(../image/progressAnnouncement/listIcon.png);}
.PA_titleArea div.PAT_btnArea button.suggestionBtn{background-color: #006aed;}
.PA_titleArea div.PAT_btnArea button.suggestionBtn::before{background-image: url(../image/progressAnnouncement/suggestionIcon.png);}

/* 현재 진행 공고1 - 리스트 */
.PA_listArea::after{content: ''; display: block; clear: both;}
.PA_listArea > li{float: left; width: 100%; margin-bottom: 3.125vw;  box-sizing: border-box; display: flex; background-color: white; border-radius: 3.125vw; overflow: hidden;}
.PA_listArea > li:last-child{margin-bottom: 0;}
.PA_listArea > li figure{width: 41.5%; padding: 3.125vw 4.6875vw; box-sizing: border-box;}
.PA_listArea > li figure img{border-radius: 50%; margin-bottom: 3.90625vw;}
.PA_listArea > li figure figcaption > dl > dt{font-size: 4.375vw; font-weight: 300; margin-bottom: 3.125vw;}
.PA_listArea > li figure figcaption > dl > dd{font-size: 3.125vw; font-weight: 300; color: #5f5f5f; margin-bottom: 1.5625vw; display: flex;}
.PA_listArea > li figure figcaption > dl > dd:last-child{margin-bottom: 0;}
.PA_listArea > li figure figcaption > dl > dd > span:first-child::after{content: '/';}
.PA_listArea > li figure figcaption > dl > dd div span{ display: block;}
.PA_listArea > li figure figcaption > dl > dd div span:not(:last-child){margin-bottom: 0.78125vw;}
.PA_listArea > li > .PAC_abilityArea{width: 58.5%; background-color: #f2faff;}
.PAC_abilityArea{display: flex; flex-direction: column;} 
.PAC_abilityArea > div:nth-child(1){flex: 1; background:url(../image/progressAnnouncement/img.png) no-repeat center center / contain;}
.progressAnnouncementArea div.radioArea{text-align: center; padding: 3.125vw 0;}
.progressAnnouncementArea div.radioArea input[type="radio"]{display: none;}
.progressAnnouncementArea div.radioArea label{font-size: 2.8125vw; font-weight: 400; color: #8c8c8c; padding-left: 3.125vw; }
.progressAnnouncementArea div.radioArea label:not(:last-child){margin-right: 2.34375vw;}
.progressAnnouncementArea div.radioArea input[type="radio"] + label{background-image: url(../image/progressAnnouncement/radioBullet.png); background-repeat: no-repeat; background-position: center left;}
.progressAnnouncementArea div.radioArea input[type="radio"]:checked + label{background-image: url(../image/progressAnnouncement/radioBulletCK.png); color: #006aed;}

/* 현재 진행 공고2 - 컨텐츠 */
.PA_contentsArea{padding: 9.375vw 0 4.6875vw; background-color: white; border-radius: 3.90625vw;}
/* 현재 진행 공고2 - 컨텐츠 / 인물 소개 부분*/
.PA_contentsArea > div{padding: 0 4.6875vw; box-sizing: border-box; display: flex; flex-wrap: wrap; margin-bottom: 15.625vw;}
.PA_contentsArea > div figure{display: flex;}
.PA_contentsArea > div figure img{width: 32.8125vw; height: 32.8125vw;  border-radius: 50%; margin-right: 4.6875vw; margin-bottom: 10.15625vw;}
.PA_contentsArea > div figure figcaption{margin-bottom: 14.0625vw;}
.PA_contentsArea > div figure figcaption dl{display: flex; flex-wrap: wrap; margin-bottom: 6.25vw;}
.PA_contentsArea > div figure figcaption dl dt{width: 100%; font-size: 6.25vw; font-weight: 500; margin-bottom: 3.90625vw;}
.PA_contentsArea > div figure figcaption dl dd{font-size: 3.90625vw; font-weight: 400;}
.PA_contentsArea > div figure figcaption dl dd:not(:last-of-type){margin-right: 2.34375vw; padding-right: 2.34375vw; position: relative;}
.PA_contentsArea > div figure figcaption dl dd:not(:last-of-type)::after{content: ''; position: absolute; right: 0; top: 0; width: 1px; height: 100%; background-color: #cccccc;}
.PA_contentsArea > div figure figcaption dl dd.age::before{content: '만';}
.PA_contentsArea > div figure figcaption dl dd.age::after{content: '세';}
.PA_contentsArea > div figure figcaption p{font-size: 3.4375vw; font-weight: 300; color: #5f5f5f; display: flex; align-items: center;}
.PA_contentsArea > div figure figcaption p:not(:last-of-type){margin-bottom: 4.6875vw;}
.PA_contentsArea > div figure figcaption p::before{content: ''; display: inline-block; width: 4.6875vw; height: 4.6875vw; background-repeat: no-repeat; background-position: center center; background-size: 100%; margin-right: 2.34375vw;}
.PA_contentsArea > div figure figcaption p.phonNum::before{background-image: url(../image/progressAnnouncement/phonNumIcon.png);}
.PA_contentsArea > div figure figcaption p.email::before{background-image: url(../image/progressAnnouncement/emailIcon.png);}
.PA_contentsArea > div .abilityGaugeArea{margin-bottom: 8.59375vw; width: 50%; padding-right: 16.6666%; box-sizing: border-box;}
.PA_contentsArea > div .abilityGaugeArea h4{font-size: 4.6875vw; font-weight: 400; margin-bottom: 1.5625vw;}
.PA_contentsArea > div .abilityGaugeArea mark{display: inline-block; font-size: 4.6875vw; font-weight: 700; color: #0c71ee; background-color: transparent; margin-bottom: 5.46875vw;}
.PA_contentsArea > div .abilityGaugeArea mark.percent::after{content: '%';}
.PA_contentsArea > div .abilityGaugeArea div{width: 100%; height: 0.46875vw; background-color: #cccccc; position: relative;}
.PA_contentsArea > div .abilityGaugeArea div span{display: inline-block; width: 0; height: 100%; background-color: #0c71ee; position: absolute; left: 0; top: 0;}
.PA_contentsArea > div .abilityGaugeArea div span::after{content: ''; position: absolute; right: -1.171875vw; top: -1.25vw; width: 2.8125vw; height: 2.8125vw; background-color: #0c71ee; border-radius: 50%;}
.PA_contentsArea > div .videoBtnArea{width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.PA_contentsArea > div .videoBtnArea button{width: 50vw; height: 10.9375vw; background-color: #000000; font-size: 3.75vw; font-weight: 300; color: white; border-radius: 7.8125vw; display: flex; justify-content: space-between; align-items: center; padding: 0 4.6875vw; box-sizing: border-box; border: none;}
.PA_contentsArea > div .videoBtnArea button:not(:last-child){margin-bottom: 4.6875vw;}
.PA_contentsArea > div .videoBtnArea button::before{content: ''; display: inline-block; width: 3.125vw; height: 4.6875vw; background: url(../image/progressAnnouncement/videoBtnIcon.png) no-repeat center center; background-size: contain;}
/* 현재 진행 공고2 - 컨텐츠 / 스펙 부분 공통*/
.PA_contentsArea > ul{padding: 0 4.6875vw; box-sizing: border-box;  display: flex; flex-direction: column;  position: relative;}
.PA_contentsArea > ul::before{content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background-color: #e5e5e5;}
.PA_contentsArea > ul > li{display: flex; justify-content: space-between; align-items: flex-end; flex-wrap: wrap;}
.PA_contentsArea > ul > li:not(:last-child){margin-bottom: 15.625vw;}
.PA_contentsArea > ul > li h4{font-size: 4.6875vw; font-weight: 500; color: #006aed; margin-bottom: 3.90625vw;}
.PA_contentsArea > ul > li small{font-size: 3.4375vw; font-weight: 400; margin-bottom: 3.90625vw;}
.PA_contentsArea > ul > li small mark{color: #006aed; background-color: transparent;}
.PA_contentsArea > ul > li div{ width: 100%; }
.PA_contentsArea > ul > li div img{width: 100%;}
/* 현재 진행 공고2 - 컨텐츠 / 스펙 부분 공통 - 직무관련 자격증*/
.PA_contentsArea > ul > li div h5{font-size: 3.75vw; font-weight: 400; margin-bottom: 3.125vw;}
.PA_contentsArea > ul > li div ul{border-left: 2px solid #939393;}
.PA_contentsArea > ul > li div ul li{display: flex; justify-content: space-between; align-items: center; width: 64.0625vw; padding:0 10.15625vw 0 3.125vw;}
.PA_contentsArea > ul > li div ul li:not(:last-child){margin-bottom: 3.125vw;}
.PA_contentsArea > ul > li div ul li p{font-size: 3.4375vw; font-weight: 400; color: #5f5f5f;}
.PA_contentsArea > ul > li div ul li p span::before{content: '(';}
.PA_contentsArea > ul > li div ul li p span::after{content: ')';}
.PA_contentsArea > ul > li div ul li button{width: 41.40625vw; height: 7.8125vw; font-size:3.4375vw; font-weight: 400; color: #406780; display: flex; justify-content: space-between; align-items: center; padding: 0 4.6875vw 0 3.90625vw; background-color: #daf0fe; border: none; border-radius: 7.8125vw; letter-spacing: -1px;}
.PA_contentsArea > ul > li div ul li button::before{content: ''; width: 2.5vw; height: 20.46875vw; background: url(../image/progressAnnouncement/certificateBtnIcon.png) no-repeat center center; background-size: contain;}
/* 현재 진행 공고2 - 컨텐츠 / 스펙 부분 공통 - 학력 정보*/
.PA_contentsArea > ul > li div dl{display: flex;}
.PA_contentsArea > ul > li div dl:not(:last-child){margin-bottom: 3.125vw;}
.PA_contentsArea > ul > li div dl dt::after{content: ':';display: inline-block; margin-right: 0.78125vw;}
.PA_contentsArea > ul > li div dl > *{font-size: 3.4375vw; font-weight: 400; color: #5f5f5f;}
.PA_contentsArea > ul > li div dl dd:not(:first-of-type):not([class])::before{content:'/'; margin-left: 0.78125vw;}
.PA_contentsArea > ul > li div dl dd.term::before{content: '(';}
.PA_contentsArea > ul > li div dl dd.term::after{content: ')';}
.PA_contentsArea > ul > li div.radioArea{background-color: #fbfbfb;}
.PA_contentsArea > ul > li div.radioArea label{font-size: 3.75vw; background-size: 2.65625vw; padding-left: 4.6875vw;}
.PA_contentsArea > ul > li div.radioArea label:not(:last-child){margin-right: 4.6875vw;}
}




