@media screen and (max-width: 640px){
    .subMenu2 nav{border-width: 1px 0 0px 0; position: relative;}  
    .subMenu2 nav::after{content: ''; display: block; width: 100%; height: 1px; background-color: #d9e6ee; position: absolute; bottom: 0; left: 0; z-index: 0;}
    .subMenu2 nav ul{display: flex; width: 100%;}
    .subMenu2 nav ul li{flex: 1; text-align: center;}
    .subMenu2 nav ul li a{font-size: 3.125vw; font-weight: 300; color: #939393; display: block; padding: 3.59375vw 0;}
    .subMenu2 nav ul li a.active {font-weight: 700; color: #006aed; background-color: #f2faff; border-width: 0 1px 0 1px; border-style: solid; border-color: #d9e6ee; position: relative; z-index: 1;}
    
    /* 지원자 리포트 타이틀 */
    .applicantReportTitle{padding-top: 15.625vw; margin-bottom: 4.6875vw;}
    /* 지원자 리포트 서브 타이틀 */
    .AR_titleArea{position: relative; margin-bottom: 7.8125vw;}
    .AR_titleArea dl{display: flex;  font-size: 3.4375vw; font-weight: 400; letter-spacing: -1px;}
    .AR_titleArea dl::before{content: ''; width: 0.9375vw;  margin-right: 3.125vw; background: url(../image/progressAnnouncement/bullet.png) no-repeat center center/ contain;}
    .AR_titleArea dl dd:last-of-type::before{content: '~';}
    .AR_titleArea select{ width: 41.40625vw; height: 10.9375vw; border: 1px solid #dfdfdf; font-size: 3.75vw; font-weight: 300; color: #5f5f5f; padding: 0 3.90625vw; position: absolute; right: 0; bottom: 0;}

    /* 지원자 리포트 컨텐츠 */
    .applicantReportArea{background-color: #f2faff;}
    .applicantReportArea > div{padding: 11.71875vw 0 0;}
    /* 지원자 리포트 컨텐츠 - 인물 메뉴*/
    .AR_tabMenuArea{}
    .AR_tabMenuArea select{width: 32%; height: 10.9375vw; font-size: 3.75vw; font-weight: 300; color: #5f5f5f; border-color:#dfdfdf;  padding: 0 3.90625vw; margin-bottom: 6.4vw;}
    .AR_tabMenuArea ul{margin-bottom: 7.03125vw; display: flex; overflow: hidden;}
    .AR_tabMenuArea ul li{min-width: 33.33%; padding: 4.6875vw 0 6.25vw; border-right: 1px solid #d9e6ee;}
    .AR_tabMenuArea ul li.active{background-color: #006aed; border-radius: 10px; box-shadow: 0 3px 10px #006aed; border-bottom: none;}
    .AR_tabMenuArea ul li figure{text-align: center;}
    .AR_tabMenuArea ul li figure div{display: inline-block; position: relative; margin-bottom: 7.8125vw;}
    .AR_tabMenuArea ul li.check figure div::after{content: ''; display: inline-block; width: 5.9375vw; height: 5.9375vw; background:url(../image/applicantReport/check.png) no-repeat center center / contain; position: absolute; right: -2.8125vw; top: 0}
    .AR_tabMenuArea ul li figure div img{width: 17.1875vw; height: 17.1875vw; border-radius: 50%;}
    .AR_tabMenuArea ul li figcaption{}
    .AR_tabMenuArea ul li figcaption dl{color: #5a6e88; font-weight: 500; display: flex; flex-wrap: wrap; justify-content: center;}
    .AR_tabMenuArea ul li figcaption dl dt{font-size: 3.75vw; width: 100%; text-align: center; margin-bottom: 2.34375vw;}
    .AR_tabMenuArea ul li figcaption dl dd{font-size: 3.125vw;}
    .AR_tabMenuArea ul li figcaption dl dd:not(:first-of-type)::before{content: '/';}
    .AR_tabMenuArea ul li figcaption dl dd.age::after{content: '세';}
    .AR_tabMenuArea ul li.active figcaption dl{color: white;}
    .AR_tabMenuArea ol{display: flex; justify-content: space-between; align-items: center; width: 40%; min-width: 39.0625vw;  margin: 0 auto; margin-bottom: 14.84375vw;}
    .AR_tabMenuArea ol li{font-size: 4.0625vw; font-weight: 500; flex: 1;}
    .AR_tabMenuArea ol li a{display: block; text-align: center; color: #b1c0c9;}
    .AR_tabMenuArea ol li:first-child,.AR_tabMenuArea ol li:last-child{font-size: 5.46875vw;}
    .AR_tabMenuArea ol li:hover a{color: #006aed;}
    .AR_tabMenuArea ol li a.active{color: #006aed;}
    /* 지원자 리포트 컨텐츠 - 종합결과 , 스펙 분석 공통 */
    .applicantReportArea section h4{font-size: 5.625vw; font-weight: 500; margin-bottom: 4.6875vw;}
    .applicantReportArea mark{background-color: transparent; color: #006aed;}
    .applicantReportArea h5{font-size: 4.0625vw; font-weight: 400;}
    .AR_resultArea > ul,.AR_specArea > div{background-color: #ffffff;}
    /* 지원자 리포트 컨텐츠 - 종합결과 */
    .AR_resultArea{position: relative; margin-bottom: 15.625vw;}
    .AR_resultArea > dl{position: absolute; right: 0; top: 0; display: flex; align-items: center;}
    .AR_resultArea > dl > *{display: flex; align-items: center;}
    .AR_resultArea > dl dt{font-size: 3.4375vw; font-weight: 700;}
    .AR_resultArea > dl dt::before{content: ''; display: inline-block; width: 4.84375vw; height: 4.84375vw; background: url(../image/applicantReport/characterIcon.png) no-repeat center center / contain; margin-right: 2.34375vw;}
    .AR_resultArea > dl dd{font-size: 3.4375vw; font-weight: 300; padding-left: 3.90625vw; margin-left: 3.90625vw; border-left: 1px solid #a9afb2;}
    .AR_resultArea > ul{padding: 7.8125vw 4.6875vw 9.375vw; display: flex; flex-wrap: wrap;}
    .AR_resultArea > ul li{display: flex; flex-direction: column; justify-content: flex-start; align-items: center;}
    .AR_resultArea > ul li:first-child{border-bottom: 1px solid rgba(0,0,0,0.1);}
    .AR_resultArea > ul li:last-child{border-top: 1px solid rgba(0,0,0,0.1);}
    .AR_resultArea > ul li h5{margin-bottom: 5.46875vw;}
    /* 지원자 리포트 컨텐츠 - 종합결과 - 적극 추천*/
    .AR_resultArea > ul li.ARR_recommendationArea{width: 100%; margin-bottom: 8.59375vw;}
    .AR_resultArea > ul li.ARR_recommendationArea span{font-size: 28.125vw; font-weight: 900; color: #006aed; padding-bottom: 9.375vw;}
    .AR_resultArea > ul li.ARR_recommendationArea strong{font-size: 3.75vw; font-weight: 700; color: #006aed; padding: 2.03125vw 3.28125vw 3.4375vw; background: url(../image/applicantReport/speechBubbleImg.png) no-repeat center center /contain; position: relative; top: -5px;}
    /* 지원자 리포트 컨텐츠 - 종합결과 - AI분석 점수 */
    .AR_resultArea > ul li.ARR_scoreArea{width: 50%;}
    /* 지원자 리포트 컨텐츠 - 종합결과 - 적극 추천 */
    .AR_resultArea > ul li.ARR_rankingArea{width: 50%;}
    .AR_resultArea > ul li.ARR_rankingArea div{margin-bottom: 1.5625vw;}
    .AR_resultArea > ul li.ARR_rankingArea small{font-size: 3.125vw; font-weight: 400; color: rgba(0,0,0,0.6);}
    .AR_resultArea > ul li.ARR_rankingArea small::before{content: '(';}
    .AR_resultArea > ul li.ARR_rankingArea small::after{content: ')';}
    /* 지원자 리포트 컨텐츠 - 종합결과 - 적극 추천 */
    .AR_resultArea > ul li.ARR_summaryArea{width: 100%; margin-top: 8.59375vw; padding-top: 8.59375vw;}
    .AR_resultArea > ul li.ARR_summaryArea h5{align-self: flex-start;}
    .AR_resultArea > ul li.ARR_summaryArea dl{ display: flex; justify-content: space-between; width: 100%; font-size: 3.4375vw; font-weight: 400;}
    .AR_resultArea > ul li.ARR_summaryArea dl:not(:first-child){margin-bottom: 3.90625vw;}
    .AR_resultArea > ul li.ARR_summaryArea dl dd::after{color: #006aed;}
    .AR_resultArea > ul li.ARR_summaryArea dl dd[data-score]::after{content:'(' attr(data-score) '점)'; }
    .AR_resultArea > ul li.ARR_summaryArea dl dd[data-percent]::after{content:'(' attr(data-percent) '%)';}
    .AR_resultArea > ul li.ARR_summaryArea dl dd:not([data-score]):not([data-percent]){color: #006aed;}
    /* 지원자 리포트 컨텐츠 - 스펙 분석*/
    .AR_specArea{padding-bottom: 15.625vw;}
    .AR_specArea > div{position: relative; padding: 15.625vw 4.6875vw 9.375vw;}
    /* 지원자 리포트 컨텐츠 - 스펙 분석 - 그래프 */
    .ARS_graphArea{}
    .ARS_graphArea .radioArea{position: absolute; left: 6.25vw; top: 5.46875vw;}
    .ARS_graphArea .radioArea{text-align: center;}
    .ARS_graphArea .radioArea input[type="radio"]{display: none;}
    .ARS_graphArea .radioArea label{font-size: 3.75vw; font-weight: 400; color: #8c8c8c; padding-left: 6.4vw; }
    .ARS_graphArea .radioArea label:not(:last-child){margin-right: 2.34375vw;}
    .ARS_graphArea .radioArea input[type="radio"] + label{background-image: url(../image/progressAnnouncement/radioBullet.png); background-repeat: no-repeat; background-position: center left;}
    .ARS_graphArea .radioArea input[type="radio"]:checked + label{background-image: url(../image/progressAnnouncement/radioBulletCK.png); color: #006aed;}
    .ARS_graphArea div{text-align: center; margin-bottom: 9.375vw;}
    .ARS_graphArea div img{width: 100%;}
    /* 지원자 리포트 컨텐츠 - 스펙 분석 - 상세스펙*/
    .ARS_detailArea{display: flex; flex-direction: column; padding: 8.59375vw 0 0 0; box-sizing: border-box; border-top: 1px solid rgba(0,0,0,0.1);}
    .ARS_detailArea h5{margin-bottom: 5.46875vw;}
    .ARS_detailArea dl{display: flex; justify-content: space-between; font-size: 3.4375vw;}
    .ARS_detailArea dl:not(:last-child){margin-bottom: 3.90625vw;}
}




