#middleSchool,#University{display: none;}

@media screen and (min-width:1291px){

/* 이력서 등록 */
.subTitle{ font-size: 40px; font-weight: 400;}
.resumeTitle{padding: 100px 0 50px;}
.jobSearchArea legend{padding: 100px 0 50px;}
.resumeTitle span{color: #006aed;}
/* 서브 메뉴 */
.subMenu nav{border-width: 1px 0 0px 0; border-style: solid; border-color: #d9e6ee; position: relative;}  
.subMenu nav::after{content: ''; display: block; width: 100%; height: 1px; background-color: #d9e6ee; position: absolute; bottom: 0; left: 0; z-index: 0;}
.subMenu nav ul{display: flex; }
.subMenu nav ul li{flex: 1; text-align: center;}
.subMenu nav ul li a{font-size: 20px; font-weight: 300; color: #939393; display: block; padding: 23px 0;}
.subMenu nav ul li a.active {font-weight: 700; color: #006aed; background-color: #f2faff; border-width: 0 1px 0 1px; border-style: solid; border-color: #d9e6ee; position: relative; z-index: 1;}

.resumeRegistrationArea{padding: 100px 0; background-color: #f2faff;}
.RR_wrapArea{display: flex;}

/* 사이트 메뉴 */
.RRC_subMenu{min-width: 265px; margin-right: 70px;}
.RRC_subMenu ul li a{display: flex; padding: 18px 15px 18px 20px; background-color: #006aed; border-radius: 10px;}
.RRC_subMenu ul li a strong{font-size: 26px; width: 45px; color: white; line-height: 45px; text-align: center; border-radius: 50%; background-color: #2285ff; margin-right: 25px;}
.RRC_subMenu ul li a .RRWA_nameArea{display: flex; flex-direction: column; justify-content: space-between;}
.RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1){font-size: 20px; color: #c5defd;}
.RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1) span{font-weight: 700; color: white;}
.RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(2){font-size: 14px; color: rgba(255,255,255,0.4);}
.RRC_subMenu ul li a .RRWA_menuArea{margin-left: auto; width: 16px; display: flex; flex-direction: column; justify-content: center;}
.RRC_subMenu ul li a .RRWA_menuArea span{display: block; height: 1px; background-color: white;}
.RRC_subMenu ul li a .RRWA_menuArea span:nth-of-type(1){margin-bottom: 5px;}
.RRC_subMenu ul li:not(:last-of-type){margin-bottom: 10px;}

/* 삭제 버튼 - 전체 삭제*/
.delete_all{display: flex; align-items: center; margin-left: auto;}
.delete_all input[type="checkbox"]{display: none;}
.delete_all label{font-size: 16px !important; padding:10px 0 10px 25px; margin-right: 20px !important; background-image: url(../image/sub/deleteAllIcon.png); background-repeat: no-repeat; background-position: left center;}
.delete_all input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
.delete_all button{width: 125px; line-height: 40px; font-size: 14px !important; font-weight: 400; color: white; padding: 0 17px 0 20px; display: flex; justify-content: space-between; align-items: center;  background-color: #343434; border: none;}
.delete_all button::before{content: ''; display: block; width: 17px; height: 17px;  background: url(../image/sub/XIcon.png) no-repeat center center;}
/* 삭제 버튼 - 항목 삭제*/
.RRWC_delete{display: flex; align-items: center; margin-left: 30px;}
.RRWC_delete input[type="checkbox"]{display: none;}
.RRWC_delete label{font-size: 16px; color: #939393; padding:10px 0 10px 25px; margin-right: 20px; background: url(../image/sub/deleteAllIcon.png) no-repeat left center;}
.RRWC_delete input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
.RRWC_delete button{width: 125px; line-height: 40px; font-size: 14px; font-weight: 400; color: white; padding: 0 17px 0 20px; display: flex; justify-content: space-between; align-items: center;  background-color: #939799; border: none;}
.RRWC_delete button::before{content: ''; display: block; width: 17px; height: 17px;  background: url(../image/sub/XIcon.png) no-repeat center center;}
/* 추가 버튼 */
.addBtn{text-align: center; margin: 10px 0 60px 0;}
.addBtn *{width: 245px; line-height: 60px; font-size: 22px; font-weight: 500; color: white; text-align: center; margin: 0 auto; background-color: black; border: none; border-radius: 50px;}

 
.RRW_contentsArea{flex: 1;}
.RRW_contentsArea .RRWC_titleArea{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.RRW_contentsArea .RRWC_titleArea > p{width: 100%; font-size: 14px; font-weight: 400; color: rgba(0, 0, 0, 0.6); padding: 20px 0;}
.RRW_contentsArea .RRWC_titleArea .RRWCT_title{display: flex; align-items: flex-end;}
.RRW_contentsArea .RRWC_titleArea .RRWCT_title > *{font-weight: 500;}
.RRW_contentsArea .RRWC_titleArea .RRWCT_title h3{font-size: 24px; margin-right: 10px;}
.RRW_contentsArea .RRWC_titleArea .RRWCT_title p{font-size: 18px;}
.RRW_contentsArea .RRWC_titleArea select{width: 220px; height: 50px; font-size: 16px; font-weight: 300; color: #5f5f5f; padding: 0 20px; box-sizing: border-box;}


.RRWC_itemTitleArea{display: flex; padding: 21px 0; border-top: 1px solid black; border-color: black 0 rgba(0,52,85,0.1); } 
.RRWC_itemTitleArea p{font-size: 18px; font-weight: 500; color: #006aed; text-align: center;}
.RRWC_itemTitleArea p:nth-of-type(1){flex: 1;}
.RRWC_itemTitleArea p:nth-of-type(2){width: 215px;}


/* 항목 */
.RRWC_itemArea{max-width: 865px; padding: 30px 0; border-top: 1px solid rgba(0,52,85,0.1);}
.RRWC_itemArea > li{display: flex;}
.RRWC_itemArea > li:not(:last-of-type){margin-bottom: 20px;}
.RRWC_itemArea > li .RRWCI_listArea{flex: 1; display: flex; align-items: center; padding: 14px 10px; background-color: #dfedf6; border: 1px solid #b5d6fa;}
.RRWC_itemArea > li .RRWCI_listArea *{font-size: 18px; font-weight: 500; }
.RRWC_itemArea > li .RRWCI_listArea > label{align-self: flex-start; min-width: 130px; line-height: 50px; color: black; padding-left: 10px; box-sizing: border-box;}
.RRWC_itemArea > li .RRWCI_listArea > ul{flex: 1;}
.RRWC_itemArea > li .RRWCI_listArea > ul li{display: flex; align-items: center;}
.RRWC_itemArea > li .RRWCI_listArea > ul li:not(:last-of-type){margin-bottom: 10px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea{flex: 1; display: flex; align-items: center;}
.RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea input[type="checkbox"]{display: none;}
.RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea label{font-size: 18px; font-weight: 300; color: #5f5f5f; background: url(../image/sub/deleteIcon.png) no-repeat left; padding:10px 0 10px 30px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input:not([type='checkbox']),
.RRWC_itemArea > li .RRWCI_listArea > ul li select
{flex: 1; padding: 10px 20px; border: none; box-sizing: border-box; color: #5f5f5f;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="search"]{max-width: 198px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"]{display: none;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ p{cursor: pointer;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] + label{text-indent: -9999px; width: 15px; height: 18px; background: url(../image/sub/fileIcon.png) no-repeat center center;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div p{margin-right: 0; line-height: 24px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div.fileTwoLines{flex-direction: column; cursor: pointer;}
.RRWC_itemArea > li .RRWCI_listArea > ul li div{display: flex; align-items: center;}
.RRWC_itemArea > li .RRWCI_listArea > ul li textarea{flex: 1; height: 200px; padding: 10px 20px; resize: none; border: none; box-sizing: border-box;}
.RRWC_itemArea > li .RRWCI_listArea > ul li .subInput{max-width: 170px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li .subSmallInput{max-width: 90px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li *:not(:last-child){margin-right: 10px;}
.RRWC_itemArea > li .RRWCI_listArea > ul li p{font-size: 18px; font-weight: 300; color: #5f5f5f; display: flex; align-items: center;}
.RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn,
.RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn
{width: 50px; height: 50px; border: none; background-color: #a7c2d3; background-repeat: no-repeat; background-position: center center; }
.RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn{background-image: url(../image/sub/refreshIcon.png);}
.RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn{background-image: url(../image/sub/plusIcon.png);}


/* 채용공고검색 */
.jobSearchArea{margin-bottom: 110px;}
.jobSearchArea fieldset{margin-bottom: 30px;}
.jobSearchArea fieldset div{background-color: #f2faff; padding: 10px 0;}
.jobSearchArea fieldset div > *{padding: 20px 30px 10px;}
.jobSearchArea fieldset div > *:not(:last-child){border-bottom: 1px solid #d9e6ee;}
.jobSearchArea fieldset div > *::after{content: ''; display: block; clear: both;}
.jobSearchArea fieldset div > * li{float: left; font-size: 18px; font-weight: 500; color: #939393;   line-height: 50px; background-color: white; border: 1px solid #d8e2e7; border-radius: 10px; margin-right: 10px; margin-bottom: 10px;}
.jobSearchArea fieldset div > * li label{display: block; height: 100%; border-radius: 10px;}
.jobSearchArea fieldset div > * li input[type="radio"]{display: none;}
.jobSearchArea fieldset div > * li input[type="radio"]:checked + label{background-color: #006aed; color: white; box-shadow: 0px 4px 20px -5px #006aed;}
.jobSearchArea fieldset div ul li label{padding: 0 40px;}
.jobSearchArea fieldset div ol li{width: 125px; text-align: center;}
.jobSearchArea .addBtn{margin: 0;}
/*채용공고검색 - 검색 결과 */
.JS_resultArea{padding: 60px 0 40px; background-color: #efefef;}
.JS_resultArea ul::after{content: ''; display: block; visibility: hidden; clear: both;} 
.JS_resultArea ul li{float: left; width: 285px; height: 180px; padding: 25px 30px; background-color: white;  box-sizing: border-box; border-radius: 25px; margin-right: 20px; margin-bottom: 20px;}
.JS_resultArea ul li:nth-of-type(4n){margin-right: 0;}
.JS_resultArea ul li a figure{height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;}
.JS_resultArea ul li a figure dl{line-height: 1.5;}
.JS_resultArea ul li a figure dl dt{font-size: 18px; font-weight: 300;}
.JS_resultArea ul li a figure dl dd{font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.6);}


/* 기업회원 - 메인 */
.enterpriseArea{background-color: #efefef;}
.enterpriseArea div:first-of-type{padding-top: 60px; margin-bottom: 70px;}
.enterpriseArea div:first-of-type h2{ background-repeat: no-repeat; background-position: right bottom; margin-bottom: 60px;}
.enterpriseArea div:first-of-type small{display: inline-block; font-size: 22px; font-weight: 300; padding-bottom: 5px; border-bottom: 1px solid; margin-bottom: 15px;}
.enterpriseArea div:first-of-type ol{display: flex;}
.enterpriseArea div:first-of-type ol li{width: 13%; height: 175px; text-align: center; padding: 35px 0 30px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; background-color: white; border-radius: 20px; position: relative;} 
.enterpriseArea div:first-of-type ol li:not(:last-of-type){margin-right: 1.5%;}
.enterpriseArea div:first-of-type ol li mark{display: block; font-size: 16px; font-weight: 500; line-height: 20px; color: #006aed; background-color: transparent;}
.enterpriseArea div:first-of-type ol li mark span{display: block;}
.enterpriseArea div:first-of-type ol li p{height: 48px; font-size: 18px; font-weight: 500; line-height: 24px; display: flex; justify-content: center; align-items: center;}
.enterpriseArea div:first-of-type ol li > span{font-size: 30px; color: white; font-weight: 100; position: absolute; right: -25px; bottom:35px; background-color: #006aed; border-radius: 50%; z-index: 1;}
/* 기업회원 - 메인 컨텐츠*/
.E_contentsArea{display: grid; grid-template-columns: 50% 31.25% 18.75%; grid-template-rows: 340px 180px 180px;
    display: -ms-grid; -ms-grid-columns: 50% 31.25% 18.75%; -ms-grid-rows: 340px 180px 180px; 
}
.E_contentsArea > *:not(aside){display: flex; justify-content: center; align-items: center;}
.E_contentsArea section h3{font-size: 32px; font-weight: 300;}
.E_contentsArea section:not(.EC_progressArea) h3{color: white;}
/* plus icon */
.E_contentsArea section.plusIcon span{font-size: 43px; margin-left: 35px;}
.E_contentsArea section.plusIcon:not(.EC_progressArea) span{color: white;}
.E_contentsArea section.EC_progressArea span{}
.E_contentsArea aside .plusIcon span{font-size: 32px; color: #cccccc;}
/* 기업회원 - 메인 컨텐츠 - 회사 사진*/
.EC_companyArea{grid-column: 1/2; grid-row: 1/3; background-color: #4c535f;
    -ms-grid-column: 1; -ms-grid-column-span: 1; -ms-grid-row: 1; -ms-grid-row-span: 2;
}
/* 기업회원 - 메인 컨텐츠 - 회사 소개 동영상 업로드*/
.EC_videoArea{grid-column:2; grid-row: 1; background-color: #5ba6e0;
    -ms-grid-column: 2; -ms-grid-column-span: 1; -ms-grid-row: 1; -ms-grid-row-span: 1;
}
/* 기업회원 - 메인 컨텐츠 - 회사 한줄 소개 등록*/
.EC_IntroduceArea{grid-column:2/3; grid-row:2/3; background-color: #5b84e0;
    -ms-grid-column: 2; -ms-grid-column-span: 1; -ms-grid-row: 2; -ms-grid-row-span: 1;
}
/* 기업회원 - 메인 컨텐츠 - 현재 진행 공고*/
.EC_progressArea{grid-column:1/3; grid-row:3/4; background-color: transparent;
    -ms-grid-column: 1; -ms-grid-column-span: 2; -ms-grid-row: 3; -ms-grid-row-span: 1;
}
/* 기업회원 - 메인 컨텐츠 - aisde*/
.E_contentsArea aside{grid-column: 3; grid-row: 1/4; background-color: white;
    -ms-grid-column: 3; -ms-grid-column-span: 1; -ms-grid-row: 1; -ms-grid-row-span: 3;
}
.E_contentsArea aside ul{height: 100%; display: flex; flex-direction: column;}
.E_contentsArea aside ul li{flex: 1; }
.E_contentsArea aside ul li:not(:last-of-type){border-bottom: 1px solid #e5e5e5;}
.E_contentsArea aside ul li a{font-size: 24px; font-weight: 300; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 50px; box-sizing: border-box;}
.E_contentsArea aside ul li:not(:last-of-type) a{}
}

@media screen and (max-width: 1290px) and (min-width: 641px) {

    /* 이력서 등록 */
    .subTitle{font-size: 40px; font-weight: 400;}
    .resumeTitle{padding: 100px 0 50px; }
    .jobSearchArea legend{padding: 100px 0 50px; }
    .resumeTitle span{color: #006aed;}
    /* .subResumeTitle{padding: 100px 0 50px; } */
    /* .subResumeTitle span{color: #006aed;} */
    /* 서브 메뉴 */
    .subMenu{overflow: hidden;}
    .subMenu nav{border-width: 1px 0 0px 0; border-style: solid; border-color: #d9e6ee; position: relative; min-width: 1200px;}  
    .subMenu nav::after{content: ''; display: block; width: 100%; height: 1px; background-color: #d9e6ee; position: absolute; bottom: 0; left: 0; z-index: 0;}
    .subMenu nav ul{display: flex; }
    .subMenu nav ul li{flex: 1; text-align: center;}
    .subMenu nav ul li a{font-size: 20px; font-weight: 300; color: #939393; display: block; padding: 23px 0;}
    .subMenu nav ul li a.active {font-weight: 700; color: #006aed; background-color: #f2faff; border-width: 0 1px 0 1px; border-style: solid; border-color: #d9e6ee; position: relative; z-index: 1;}
    
    .resumeRegistrationArea{padding: 60px 0; background-color: #f2faff;}
    .RR_wrapArea{}
    
    /* 사이트 메뉴 */
    .RRC_subMenu{margin-bottom: 100px;}
    .RRC_subMenu ul::after{content: ''; display: block; visibility: hidden; clear: both;}
    .RRC_subMenu ul li{float: left; width: calc(50% - 10px);}
    .RRC_subMenu ul li:nth-of-type(2n + 1){margin-right: 20px;}
    .RRC_subMenu ul li a{display: flex; justify-content: space-between; padding: 20px 15px; background-color: #006aed; border-radius: 10px;}
    .RRC_subMenu ul li a strong{align-self: flex-start; font-size: 30px; width: 50px; color: white; line-height: 50px; text-align: center; border-radius: 50%; background-color: #2285ff; margin-right: 20px;}
    .RRC_subMenu ul li a .RRWA_nameArea{display: flex; flex-direction: column; justify-content: space-between;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1){font-size: 28px; color: #c5defd; margin-bottom: 10px;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1) span{font-weight: 700; color: white;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(2){font-size: 18px; color: rgba(255,255,255,0.4);}
    .RRC_subMenu ul li a .RRWA_menuArea{margin-left: auto; width: 25px; display: flex; flex-direction: column; justify-content: center;}
    .RRC_subMenu ul li a .RRWA_menuArea span{display: block; height: 1px; background-color: white;}
    .RRC_subMenu ul li a .RRWA_menuArea span:nth-of-type(1){margin-bottom: 5px;}
    .RRC_subMenu ul li:not(:last-of-type){margin-bottom: 20px;}
    
    /* 삭제 버튼 - 전체 삭제*/
    .delete_all{width: 175px; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; margin-left: 30px;}
    .delete_all input[type="checkbox"]{display: none;}
    .delete_all label{font-size: 24px; color: #939393; padding:10px 0 10px 25px; background-image: url(../image/sub/deleteAllIcon.png); background-repeat: no-repeat; background-position: left center; margin-bottom: 20px;}
    .delete_all input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
    .delete_all button{width: 175px; line-height: 60px; font-size: 22px; font-weight: 400; color: white; padding: 0 17px 0 20px; display: flex; justify-content: space-between; align-items: center;  background-color: #343434; border: none;}
    .delete_all button::before{content: ''; display: block; width: 25px; height: 25px;  background: url(../image/sub/XIcon.png) no-repeat center center; background-size: cover;}
    /* 삭제 버튼 - 항목 삭제*/
    .RRWC_delete{width: 175px; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; margin-left: 30px;}
    .RRWC_delete input[type="checkbox"]{display: none;}
    .RRWC_delete label{font-size: 24px; color: #939393; padding:10px 0 10px 25px; background: url(../image/sub/deleteAllIcon.png) no-repeat left center; margin-bottom: 20px;}
    .RRWC_delete input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
    .RRWC_delete button{width: 175px; line-height: 60px; font-size: 22px; font-weight: 400; color: white; padding: 0 17px 0 20px; display: flex; justify-content: space-between; align-items: center;  background-color: #939799; border: none;}
    .RRWC_delete button::before{content: ''; display: block; width: 25px; height: 25px;  background: url(../image/sub/XIcon.png) no-repeat center center; background-size: cover;}
    /* 추가 버튼 */
    .addBtn{text-align: center; margin: 20px 0 60px 0;}
    .addBtn *{width: 330px; line-height: 80px; font-size: 28px; font-weight: 500; color: white; text-align: center; margin: 0 auto; background-color: black; border: none; border-radius: 50px;}
    
     
    .RRW_contentsArea{flex: 1;}
    .RRW_contentsArea .RRWC_titleArea{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; margin-bottom: 20px;}
    .RRW_contentsArea .RRWC_titleArea > p{width: 100%; font-size: 22px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.6); padding: 10px 0;}
    .RRW_contentsArea .RRWC_titleArea > p span{display: block;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title{display: flex; flex-direction: column;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title > *{font-weight: 500;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title h3{font-size: 36px; margin-bottom: 25px;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title p{font-size: 24px; padding-bottom: 10px;}
    .RRW_contentsArea .RRWC_titleArea select{width: 220px; height: 50px; font-size: 16px; font-weight: 300; color: #5f5f5f; padding: 0 20px; box-sizing: border-box;}
    
    
    .RRWC_itemTitleArea{display: flex; justify-content: space-between; padding: 30px 0; border-top: 1px solid black; border-color: black 0 rgba(0,52,85,0.1); } 
    .RRWC_itemTitleArea p{font-size: 22px; font-weight: 500; color: #006aed; text-align: center;}
    
    
    /* 항목 */
    .RRWC_itemArea{width: 100%; padding: 40px 0; border-top: 1px solid rgba(0,52,85,0.1);}
    .RRWC_itemArea > li{display: flex;}
    .RRWC_itemArea > li:not(:last-of-type){margin-bottom: 20px;}
    .RRWC_itemArea > li .RRWCI_listArea{width: calc(100% - 205px);display: flex; flex-wrap: wrap; align-items: center; padding: 30px 20px 20px; background-color: #dfedf6; border: 1px solid #b5d6fa; box-sizing: border-box;}
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea{width: 100%; flex-direction: column; justify-content: space-between; align-items: stretch;}
    /* .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea .RRWCIL_titleArea{display: none;} */
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea ul{width: auto;}
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea ul li{justify-content: space-between; flex-wrap: nowrap; align-items: flex-start;}
    .RRWC_itemArea > li .RRWCI_listArea *{font-size: 24px; font-weight: 500;}
    .RRWC_itemArea > li .RRWCI_listArea > label{align-self: flex-start; margin-bottom: 20px; color: black;}
    .RRWC_itemArea > li .RRWCI_listArea > ul{ width: 100%;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li{display: flex; flex-wrap: wrap; align-items: center;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:not(:last-of-type){margin-bottom: 10px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2){display: flex;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2) select{width: calc(50% - 5px); margin-right: 10px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2) select + input{width: calc(50% - 5px);}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea{flex: 1; display: flex; align-items: flex-start;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea input[type="checkbox"]{display: none;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea label{font-size: 18px; font-weight: 300; color: #5f5f5f; background: url(../image/sub/deleteIcon.png) no-repeat left; padding:10px 0 10px 30px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input:not([type='checkbox']),
    .RRWC_itemArea > li .RRWCI_listArea > ul li select
    {padding: 10px 20px; border: none; box-sizing: border-box; width: 100%; color: #5f5f5f;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"]{padding: 0; max-width: 300px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="search"]:first-of-type{max-width: 100%; margin-bottom: 10px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"]{display: none;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ p{cursor: pointer;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] + label{text-indent: -9999px; width: 25px; height: 30px; background: url(../image/sub/fileIcon.png) no-repeat center center; background-size: cover;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div p{margin-right: 0; font-size: 22px; line-height: 30px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div.fileTwoLines{flex-direction: column; cursor: pointer;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li div{display: flex; align-items: center;}
    /* .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="search"]:first-of-type{margin-bottom: 10px;} */
    .RRWC_itemArea > li .RRWCI_listArea > ul li textarea{flex: 1; height: 200px; padding: 10px 20px; resize: none; border: none; box-sizing: border-box;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .subInput{max-width: 100%; margin-bottom: 10px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .subSmallInput{max-width: 90px;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li p{font-size: 24px; font-weight: 300; color: #5f5f5f; display: flex; align-items: center; margin-left: 15px;}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn,
    .RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn
    {min-width: 70px; height: 70px; border: none; background-color: #a7c2d3; background-repeat: no-repeat; background-position: center center; margin-top: 10px;}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn{background-image: url(../image/sub/refreshIcon.png);}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn{background-image: url(../image/sub/plusIcon.png);}
    

     /* 채용공고검색 */
     .jobSearchArea{margin-bottom: 110px;}
     .jobSearchArea fieldset{margin-bottom: 30px;}
     .jobSearchArea fieldset div{background-color: #f2faff; }
     .jobSearchArea fieldset div > *{padding: 30px 30px 10px;}
     .jobSearchArea fieldset div > *:not(:last-child){border-bottom: 1px solid #d9e6ee;}
     .jobSearchArea fieldset div > *::after{content: ''; display: block; clear: both;}
     .jobSearchArea fieldset div > * li{float: left; font-size: 24px; font-weight: 500; color: #939393;   line-height: 60px; background-color: white; border: 1px solid #d8e2e7; border-radius: 10px; margin-right: 20px; margin-bottom: 20px; box-sizing: border-box;}
     .jobSearchArea fieldset div > * li label{display: block; height: 100%; border-radius: 10px;}
     .jobSearchArea fieldset div > * li input[type="radio"]{display: none;}
     .jobSearchArea fieldset div > * li input[type="radio"]:checked + label{background-color: #006aed; color: white; box-shadow: 0px 4px 20px -5px #006aed;}
     .jobSearchArea fieldset div ul li label{padding: 0 35px;}
     .jobSearchArea fieldset div ol li{width: calc((100% - 60px)/4); text-align: center;}
     .jobSearchArea fieldset div ol li:nth-of-type(4n){margin-right: 0;}
     .jobSearchArea .addBtn{margin: 0;}
     /*채용공고검색 - 검색 결과 */
     .JS_resultArea{padding: 60px 0; background-color: #efefef;}
     .JS_resultArea ul::after{content: ''; display: block; visibility: hidden; clear: both;} 
     .JS_resultArea ul li{float: left; width: calc((100% - 20px)/2); height: 180px; padding: 20px 30px; background-color: white;  box-sizing: border-box; border-radius: 25px; margin-right: 20px; margin-bottom: 20px;}
     .JS_resultArea ul li:nth-of-type(2n){margin-right: 0;}
     .JS_resultArea ul li a figure{height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;}
     .JS_resultArea ul li a figure dl{line-height: 1.5;}
     .JS_resultArea ul li a figure dl dt{font-size: 18px; font-weight: 300;}
     .JS_resultArea ul li a figure dl dd{font-size: 14px; font-weight: 300; color: rgba(0, 0, 0, 0.6);}

     /* 기업회원 - 메인 */
    .enterpriseArea{background-color: #efefef;}
    .enterpriseArea div:first-of-type{padding-top: 50px; margin-bottom: 80px;}
    .enterpriseArea div:first-of-type h2{ background-repeat: no-repeat; background-position: right bottom; margin-bottom: 50px;}
    .enterpriseArea div:first-of-type small{display: inline-block; font-size: 24px; font-weight: 300; padding-bottom: 5px; border-bottom: 1px solid; margin-bottom: 20px;}
    .enterpriseArea div:first-of-type ol{display: flex; flex-wrap: wrap;}
    .enterpriseArea div:first-of-type ol li{width: 31.5%; height: 210px; text-align: center; padding: 45px 0 35px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; background-color: white; border-radius: 20px; position: relative;} 
    .enterpriseArea div:first-of-type ol li:not(:last-of-type){margin-right: 1.5%; margin-bottom: 1.5%;}
    .enterpriseArea div:first-of-type ol li mark{display: block; font-size: 22px; font-weight: 500; line-height: 26px; color: #006aed; background-color: transparent; letter-spacing: -1px;}
    .enterpriseArea div:first-of-type ol li mark span{display: block;}
    .enterpriseArea div:first-of-type ol li p{height: 48px; font-size: 24px; font-weight: 500; line-height: 26px; display: flex; justify-content: center; align-items: center;}
    .enterpriseArea div:first-of-type ol li > span{font-size: 36px; color: white; font-weight: 100; position: absolute; right: -20px; bottom:35px; background-color: #006aed; border-radius: 50%; z-index: 1;}
    /* 기업회원 - 메인 컨텐츠*/
    .E_contentsArea{display: grid; grid-template-columns: 62.5% 37.5%; grid-template-rows: 340px 225px 120px 355px;
        display: -ms-grid; -ms-grid-columns: 62.5% 37.5%; -ms-grid-rows: 340px 225px 120px 355px; 
    }
    .E_contentsArea > *:not(aside){display: flex; justify-content: center; align-items: center;}
    .E_contentsArea section h3{font-size: 32px; font-weight: 300;}
    .E_contentsArea section:not(.EC_progressArea) h3{color: white;}
    /* plus icon */
    .E_contentsArea section.plusIcon span{font-size: 43px; margin-left: 35px;}
    .E_contentsArea section.plusIcon:not(.EC_progressArea) span{color: white;}
    .E_contentsArea section.EC_progressArea span{}
    .E_contentsArea aside .plusIcon span{font-size: 32px; color: #cccccc;}
    /* 기업회원 - 메인 컨텐츠 - 회사 사진*/
    .EC_companyArea{grid-column: 1/3; grid-row: 1/1; background-color: #4c535f;
        -ms-grid-column: 1; -ms-grid-column-span: 2; -ms-grid-row: 1; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - 회사 소개 동영상 업로드*/
    .EC_videoArea{
        flex-direction: column;
        grid-column:1/2; grid-row: 2/3; background-color: #5ba6e0;
        -ms-grid-column: 1; -ms-grid-column-span:1; -ms-grid-row: 2; -ms-grid-row-span: 1;
    }
    .EC_videoArea.plusIcon > span{margin-left: 0; margin-top: 30px;}
    
    /* 기업회원 - 메인 컨텐츠 - 회사 한줄 소개 등록*/
    .EC_IntroduceArea{grid-column:1/2; grid-row:3/4; background-color: #5b84e0;
        -ms-grid-column: 1; -ms-grid-column-span: 1; -ms-grid-row: 3; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - 현재 진행 공고*/
    .EC_progressArea{grid-column:1/2; grid-row:4/5; background-color: transparent;
        -ms-grid-column: 1; -ms-grid-column-span: 1; -ms-grid-row: 4; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - aisde*/
    .E_contentsArea aside{grid-column: 2/3; grid-row: 2/5; background-color: white;
        -ms-grid-column: 2; -ms-grid-column-span: 1; -ms-grid-row: 2; -ms-grid-row-span: 4;
    }
    .E_contentsArea aside ul{height: 100%; display: flex; flex-direction: column;}
    .E_contentsArea aside ul li{flex: 1; }
    .E_contentsArea aside ul li:not(:last-of-type){border-bottom: 1px solid #e5e5e5;}
    .E_contentsArea aside ul li a{font-size: 24px; font-weight: 300; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 8.5% 0 12.5%; box-sizing: border-box;}
    .E_contentsArea aside ul li:not(:last-of-type) a{}
}


@media screen and (max-width: 640px){

    /* 이력서 등록 */
    .subTitle{font-size: 6.25vw; font-weight: 400;}
    .resumeTitle{padding: 15.625vw 0 7.8125vw;}
    .jobSearchArea legend{padding: 15.625vw 0 7.8125vw;}
    .resumeTitle span{color: #006aed;}
    /* .subResumeTitle{padding: 15.625vw 0 7.8125vw; font-size: 6.25vw; font-weight: 400;} */
    /* .subResumeTitle span{color: #006aed;} */
    /* 서브 메뉴 */
    .subMenu{overflow: hidden;}
    .subMenu nav{border-width: 1px 0 0px 0; border-style: solid; border-color: #d9e6ee; position: relative; min-width: 131.25vw;}  
    .subMenu nav::after{content: ''; display: block; width: 100%; height: 1px; background-color: #d9e6ee; position: absolute; bottom: 0; left: 0; z-index: 0;}
    .subMenu nav ul{display: flex; }
    .subMenu nav ul li{flex: 1; text-align: center;}
    .subMenu nav ul li a{font-size: 3.125vw; font-weight: 300; color: #939393; display: block; padding: 3.59375vw 0;}
    .subMenu nav ul li a.active {font-weight: 700; color: #006aed; background-color: #f2faff; border-width: 0 1px 0 1px; border-style: solid; border-color: #d9e6ee; position: relative; z-index: 1;}
    
    .resumeRegistrationArea{padding: 9.375vw 0; background-color: #f2faff;}
    .RR_wrapArea{}
    
    /* 사이트 메뉴 */
    .RRC_subMenu{margin-bottom: 15.625vw;}
    .RRC_subMenu ul::after{content: ''; display: block; visibility: hidden; clear: both;}
    .RRC_subMenu ul li{float: left; width: calc(50% - 1.5625vw);}
    .RRC_subMenu ul li:nth-of-type(2n + 1){margin-right: 3.125vw;}
    .RRC_subMenu ul li a{display: flex; justify-content: space-between; padding: 3.125vw 2.34375vw; background-color: #006aed; border-radius: 1.5625vw;}
    .RRC_subMenu ul li a strong{align-self: flex-start; font-size: 4.6875vw; width: 7.8125vw; color: white; line-height: 7.8125vw; text-align: center; border-radius: 50%; background-color: #2285ff; margin-right: 3.125vw;}
    .RRC_subMenu ul li a .RRWA_nameArea{display: flex; flex-direction: column; justify-content: space-between;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1){font-size: 4.375vw; color: #c5defd; margin-bottom: 1.5625vw;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(1) span{font-weight: 700; color: white;}
    .RRC_subMenu ul li a .RRWA_nameArea p:nth-of-type(2){font-size: 2.8125vw; color: rgba(255,255,255,0.4);}
    .RRC_subMenu ul li a .RRWA_menuArea{margin-left: auto; width: 3.90625vw; display: flex; flex-direction: column; justify-content: center;}
    .RRC_subMenu ul li a .RRWA_menuArea span{display: block; height: 1px; background-color: white;}
    .RRC_subMenu ul li a .RRWA_menuArea span:nth-of-type(1){margin-bottom: 0.78125vw;}
    .RRC_subMenu ul li:not(:last-of-type){margin-bottom: 3.125vw;}
    
    /* 삭제 버튼 - 전체 삭제*/
    .delete_all{width: 27.34375vw; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; margin-left: 4.6875vw;}
    .delete_all input[type="checkbox"]{display: none;}
    .delete_all label{font-size: 3.75vw;  color: #939393; padding:1.5625vw 0 1.5625vw 3.90625vw; background: url(../image/sub/deleteAllIcon.png) no-repeat left center; background-size: 3.28125vw; margin-bottom: 3.125vw;}
    .delete_all input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
    .delete_all button{width: 27.34375vw; line-height: 9.375vw; font-size: 3.4375vw; font-weight: 400; color: white; padding: 0 2.65625vw 0 3.125vw; display: flex; justify-content: space-between; align-items: center;  background-color: #343434; border: none;}
    .delete_all button::before{content: ''; display: block; width: 3.90625vw; height: 3.90625vw;  background: url(../image/sub/XIcon.png) no-repeat center center; background-size: cover;}
    /* 삭제 버튼 - 항목 삭제*/
    .RRWC_delete{width: 27.34375vw; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; margin-left: 4.6875vw;}
    .RRWC_delete input[type="checkbox"]{display: none;}
    .RRWC_delete label{font-size: 3.75vw; color: #939393; padding:1.5625vw 0 1.5625vw 3.90625vw; background: url(../image/sub/deleteAllIcon.png) no-repeat left center; margin-bottom: 3.125vw; background-size: 3.28125vw;}
    .RRWC_delete input[type="checkbox"]:checked + label{background-image: url(../image/sub/deleteIcon.png);}
    .RRWC_delete button{width: 27.34375vw; line-height: 9.375vw; font-size: 3.4375vw; font-weight: 400; color: white; padding: 0 2.65625vw 0 3.125vw; display: flex; justify-content: space-between; align-items: center;  background-color: #939799; border: none;}
    .RRWC_delete button::before{content: ''; display: block; width: 3.90625vw; height: 3.90625vw;  background: url(../image/sub/XIcon.png) no-repeat center center; background-size: cover;}
    /* 추가 버튼 */
    .addBtn{text-align: center; margin: 3.125vw 0 9.375vw 0;}
    .addBtn *{width: 51.5625vw; line-height: 12.5vw; font-size: 4.375vw; font-weight: 500; color: white; text-align: center; margin: 0 auto; background-color: black; border: none; border-radius: 7.8125vw;}
    
     
    .RRW_contentsArea{flex: 1;}
    .RRW_contentsArea .RRWC_titleArea{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; margin-bottom: 3.125vw;}
    .RRW_contentsArea .RRWC_titleArea > p{width: 100%; font-size: 3.4375vw; line-height: 4.6875vw; font-weight: 400; color: rgba(0, 0, 0, 0.6); padding: 1.5625vw 0;}
    .RRW_contentsArea .RRWC_titleArea > p span{display: block;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title{display: flex; flex-direction: column;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title > *{font-weight: 500;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title h3{font-size: 5.625vw; margin-bottom: 3.90625vw;}
    .RRW_contentsArea .RRWC_titleArea .RRWCT_title p{font-size: 3.75vw; padding-bottom: 1.5625vw;}
    .RRW_contentsArea .RRWC_titleArea select{width: 34.375vw; height: 7.8125vw; font-size: 2.5vw; font-weight: 300; color: #5f5f5f; padding: 0 3.125vw; box-sizing: border-box;}
    
    
    .RRWC_itemTitleArea{display: flex; justify-content: space-between; padding: 4.6875vw 0; border-top: 1px solid black; border-color: black 0 rgba(0,52,85,0.1); } 
    .RRWC_itemTitleArea p{font-size: 3.4375vw; font-weight: 500; color: #006aed; text-align: center;}
    
    
    /* 항목 */
    .RRWC_itemArea{width: 100%; padding: 6.25vw 0; border-top: 1px solid rgba(0,52,85,0.1);}
    .RRWC_itemArea > li{display: flex;}
    .RRWC_itemArea > li:not(:last-of-type){margin-bottom: 3.125vw;}
    .RRWC_itemArea > li .RRWCI_listArea{width: calc(100% - 27.34375vw);display: flex; flex-wrap: wrap; align-items: center; padding: 4.6875vw 3.125vw 3.125vw; background-color: #dfedf6; border: 1px solid #b5d6fa; box-sizing: border-box;}
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea{width: 100%; flex-direction: column; justify-content: space-between; align-items: stretch;}
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea ul{width: auto;}
    .RRWC_itemArea > li .RRWCI_listArea.RRWCI_listTitleArea ul li{justify-content: space-between; flex-wrap: nowrap; align-items: flex-start;}
    .RRWC_itemArea > li .RRWCI_listArea *{font-size: 3.75vw; font-weight: 500;}
    .RRWC_itemArea > li .RRWCI_listArea > label{align-self: flex-start; margin-bottom: 3.125vw; color: black;}
    .RRWC_itemArea > li .RRWCI_listArea > ul{ width: 100%;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li{display: flex; flex-wrap: wrap; align-items: center;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:not(:last-of-type){margin-bottom: 1.5625vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2){display: flex;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2) select{width: calc(50% - 0.78125vw); margin-right: 1.5625vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li:nth-of-type(2) select + input{width: calc(50% - 0.78125vw);}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea{flex: 1; display: flex; align-items: flex-start;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea input[type="checkbox"]{display: none;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .RRWCIL_titleArea label{font-size: 2.8125vw; font-weight: 300; color: #5f5f5f; background: url(../image/sub/deleteIcon.png) no-repeat left; background-size: 3.28125vw; padding:1.5625vw 0 1.5625vw 4.6875vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input:not([type='checkbox']),
    .RRWC_itemArea > li .RRWCI_listArea > ul li select
    {padding: 1.5625vw 3.125vw; border: none; box-sizing: border-box; width: 100%; color: #5f5f5f;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"]{padding: 0; max-width: 46.875vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="search"]:first-of-type{max-width: 100%; margin-bottom: 1.5625vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"]{display: none;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ p{ width: 42.1875vw; white-space: nowrap; text-overflow: ellipsis;  overflow: hidden; cursor: pointer;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] + label{text-indent: -9999px; width: 3.90625vw; height: 4.6875vw; background: url(../image/sub/fileIcon.png) no-repeat center center; background-size: contain;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div p{margin-right: 0; font-size: 3.4375vw; line-height: 4.6875vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="file"] ~ div.fileTwoLines{flex-direction: column; cursor: pointer;}
    /* .RRWC_itemArea > li .RRWCI_listArea > ul li input[type="search"]:first-of-type{margin-bottom: 1.5625vw;} */
    .RRWC_itemArea > li .RRWCI_listArea > ul li textarea{flex: 1; height: 31.25vw; padding: 1.5625vw 3.125vw; resize: none; border: none; box-sizing: border-box;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .subInput{max-width: 100%; margin-bottom: 1.5625vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li .subSmallInput{max-width: 14.0625vw;}
    .RRWC_itemArea > li .RRWCI_listArea > ul li p{font-size: 3.75vw; font-weight: 300; color: #5f5f5f; display: flex; align-items: center; margin-left: 2.34375vw;}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn,
    .RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn
    {min-width: 10.9375vw; height: 10.9375vw; border: none; background-color: #a7c2d3; background-repeat: no-repeat; background-position: center center;  margin-top: 1.5625vw;}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.refreshBtn{background-image: url(../image/sub/refreshIcon.png);}
    .RRWC_itemArea > li .RRWCI_listArea ul li button.plusBtn{background-image: url(../image/sub/plusIcon.png);}

    
     /* 채용공고검색 */
     .jobSearchArea{margin-bottom: 17.1875vw;}
     .jobSearchArea fieldset{margin-bottom: 4.6875vw;}
     .jobSearchArea fieldset div{background-color: #f2faff; }
     .jobSearchArea fieldset div > *{padding: 4.6875vw 4.6875vw 1.5625vw;}
     .jobSearchArea fieldset div > *:not(:last-child){border-bottom: 1px solid #d9e6ee;}
     .jobSearchArea fieldset div > *::after{content: ''; display: block; clear: both;}
     .jobSearchArea fieldset div > * li{float: left; font-size: 3.75vw; font-weight: 500; color: #939393;   line-height: 9.375vw; background-color: white; border: 1px solid #d8e2e7; border-radius: 1.5625vw; margin-right: 3.125vw; margin-bottom: 3.125vw; box-sizing: border-box;}
     .jobSearchArea fieldset div > * li label{display: block; height: 100%; border-radius: 1.5625vw;}
     .jobSearchArea fieldset div > * li input[type="radio"]{display: none;}
     .jobSearchArea fieldset div > * li input[type="radio"]:checked + label{background-color: #006aed; color: white; box-shadow: 0px 0.625vw 3.125vw -0.78125vw #006aed;}
     .jobSearchArea fieldset div ul li label{padding: 0 5.46875vw;}
     .jobSearchArea fieldset div ol li{width: calc((100% - 9.375vw)/4); text-align: center;}
     .jobSearchArea fieldset div ol li:nth-of-type(4n){margin-right: 0;}
     .jobSearchArea .addBtn{margin: 0;}
     /*채용공고검색 - 검색 결과 */
     .JS_resultArea{padding: 9.375vw 0; background-color: #efefef;}
     .JS_resultArea ul::after{content: ''; display: block; visibility: hidden; clear: both;} 
     .JS_resultArea ul li{float: left; width: calc((100% - 3.125vw)/2); height: 28.125vw; padding: 3.125vw 4.6875vw; background-color: white;  box-sizing: border-box; border-radius: 3.90625vw; margin-right: 3.125vw; margin-bottom: 3.125vw;}
     .JS_resultArea ul li:nth-of-type(2n){margin-right: 0;}
     .JS_resultArea ul li a figure{height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;}
     .JS_resultArea ul li a figure dl{line-height: 1.5;}
     .JS_resultArea ul li a figure dl dt{font-size: 2.8125vw; font-weight: 300;}
     .JS_resultArea ul li a figure dl dd{font-size: 2.1875vw; font-weight: 300; color: rgba(0, 0, 0, 0.6);}

     
         /* 기업회원 - 메인 */
    .enterpriseArea{background-color: #efefef;}
    .enterpriseArea div:first-of-type{padding-top: 7.8125vw; margin-bottom: 12.5vw;}
    .enterpriseArea div:first-of-type h2{ background-repeat: no-repeat; background-position: right bottom; margin-bottom: 7.8125vw;}
    .enterpriseArea div:first-of-type small{display: inline-block; font-size: 3.75vw; font-weight: 300; padding-bottom: 0.78125vw; border-bottom: 1px solid; margin-bottom: 3.125vw;}
    .enterpriseArea div:first-of-type ol{display: flex; flex-wrap: wrap;}
    .enterpriseArea div:first-of-type ol li{width: 31.5%; height: 32.8125vw; text-align: center; padding: 7.03125vw 0 5.46875vw; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; background-color: white; border-radius: 3.125vw; position: relative;} 
    .enterpriseArea div:first-of-type ol li:not(:last-of-type){margin-right: 1.5%; margin-bottom: 1.5%;}
    .enterpriseArea div:first-of-type ol li mark{display: block; font-size: 3.4375vw; font-weight: 500; line-height: 4.0625vw; color: #006aed; background-color: transparent; letter-spacing: -1px;}
    .enterpriseArea div:first-of-type ol li mark span{display: block;}
    .enterpriseArea div:first-of-type ol li p{height: 7.5vw; font-size: 3.75vw; font-weight: 500; line-height: 4.0625vw; display: flex; justify-content: center; align-items: center;}
    .enterpriseArea div:first-of-type ol li > span{font-size: 5.625vw; color: white; font-weight: 100; position: absolute; right: -3.125vw; bottom:5.46875vw; background-color: #006aed; border-radius: 50%; z-index: 1;}
    /* 기업회원 - 메인 컨텐츠*/
    .E_contentsArea{display: grid; grid-template-columns: 62.5% 37.5%; grid-template-rows: 53.125vw 35.15625vw 18.75vw 55.46875vw;
        display: -ms-grid; -ms-grid-columns: 62.5% 37.5%; -ms-grid-rows: 53.125vw 35.15625vw 18.75vw 55.46875vw; 
    }
    .E_contentsArea > *:not(aside){display: flex; justify-content: center; align-items: center;}
    .E_contentsArea section h3{font-size: 5vw; font-weight: 300;}
    .E_contentsArea section:not(.EC_progressArea) h3{color: white;}
    /* plus icon */
    .E_contentsArea section.plusIcon span{font-size: 6.71875vw; margin-left: 5.46875vw;}
    .E_contentsArea section.plusIcon:not(.EC_progressArea) span{color: white;}
    .E_contentsArea section.EC_progressArea span{}
    .E_contentsArea aside .plusIcon span{font-size: 5vw; color: #cccccc;}
    /* 기업회원 - 메인 컨텐츠 - 회사 사진*/
    .EC_companyArea{grid-column: 1/3; grid-row: 1/1; background-color: #4c535f;
        -ms-grid-column: 1; -ms-grid-column-span: 2; -ms-grid-row: 1; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - 회사 소개 동영상 업로드*/
    .EC_videoArea{
        flex-direction: column;
        grid-column:1/2; grid-row: 2/3; background-color: #5ba6e0;
        -ms-grid-column: 1; -ms-grid-column-span:1; -ms-grid-row: 2; -ms-grid-row-span: 1;
    }
    .EC_videoArea.plusIcon > span{margin-left: 0; margin-top: 4.6875vw;}
    
    /* 기업회원 - 메인 컨텐츠 - 회사 한줄 소개 등록*/
    .EC_IntroduceArea{grid-column:1/2; grid-row:3/4; background-color: #5b84e0;
        -ms-grid-column: 1; -ms-grid-column-span: 1; -ms-grid-row: 3; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - 현재 진행 공고*/
    .EC_progressArea{grid-column:1/2; grid-row:4/5; background-color: transparent;
        -ms-grid-column: 1; -ms-grid-column-span: 1; -ms-grid-row: 4; -ms-grid-row-span: 1;
    }
    /* 기업회원 - 메인 컨텐츠 - aisde*/
    .E_contentsArea aside{grid-column: 2/3; grid-row: 2/5; background-color: white;
        -ms-grid-column: 2; -ms-grid-column-span: 1; -ms-grid-row: 2; -ms-grid-row-span: 4;
    }
    .E_contentsArea aside ul{height: 100%; display: flex; flex-direction: column;}
    .E_contentsArea aside ul li{flex: 1; }
    .E_contentsArea aside ul li:not(:last-of-type){border-bottom: 1px solid #e5e5e5;}
    .E_contentsArea aside ul li a{font-size: 3.75vw; font-weight: 300; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 8.5% 0 12.5%; box-sizing: border-box;}
    .E_contentsArea aside ul li:not(:last-of-type) a{}
}