@media screen and (min-width:1291px){
    .SearchArea fieldset{position: relative;}
    .SearchArea .detailsPopup{width: 100%; border: 1px solid #b5d6fa; padding: 0; position: absolute; left: 0; top: 0;}
    .SearchArea .detailsPopup > span{display: inline-block; width: 14px; height: 8px; background: url(../image/jobSearch/speechBubble.png) no-repeat center center / 100%; position: absolute; left: 0; top: -8px; padding: 0;}
    .SearchArea .detailsPopup ul{background-color: white; padding: 10px 20px 10px; position: relative;}
    .SearchArea .detailsPopup ul li{margin: 0; border: none; padding: 10px 15px; line-height: 1;}
    .SearchArea .detailsPopup ul li input[type="checkbox"]{display: none;}
    .SearchArea .detailsPopup ul li label{padding: 0; display: flex; align-items: center;}
    .SearchArea .detailsPopup ul li label::before{content: ''; display: inline-block; width: 21px; height: 21px; background: url(../image/jobSearch/CKbox.png) no-repeat center center / 100%; margin-right: 10px;}
} 
