@media screen and (max-width: 1290px) and (min-width: 641px) {
/* 나의 이력서 */
/* 나의 이력서 - 타이틀 */
.myResumeTitleArea{padding: 50px 0;}
.myResumeTitleArea small{display: inline-block; font-size: 24px; font-weight: 300; padding-bottom: 6px; margin-bottom: 20px; position: relative;}
.myResumeTitleArea small::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: black;}
/* 나의 이력서 - 컨텐츠*/
.myResumeArea{background-color: #f2faff; padding: 60px 0 100px;}
/* 나의 이력서 - 컨텐츠박스 - 상단 버튼*/
.MR_btnArea{display: flex; justify-content: center; margin-bottom: 60px;}
.MR_btnArea button{width: 210px; height: 70px; font-size:24px; font-weight: 300; color: white; background-color: #343434; border: none; padding:0 25px 0;   display: flex; justify-content: space-between; align-items: center; }
.MR_btnArea button.rearrangement::before{content: ''; width: 20px; height: 20px; background: url(../image/myResume/rearrangementIcon.png) no-repeat center center/contain;}
.MR_btnArea select{width: 305px; height: 70px; font-size: 24px; font-weight: 300; color: #5f5f5f; padding: 0 25px; border-color: #dfdfdf;}
.MR_btnArea *:not(:last-child){margin-right: 20px;}
/* 나의 이력서 - 컨텐츠 박스 */
.myResumeArea figure{}
/* 나의 이력서 - 컨텐츠 박스 - 왼쪽 이미지*/
.myResumeArea figure > div{max-width: 200px; width: 100%; margin: 0 auto; margin-bottom: 60px;}
.myResumeArea figure > div img{width: 100%; margin-bottom: 30px; }
.myResumeArea figure > div button{width: 50px; height: 50px; text-indent: -9999px; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; border: none;}
.myResumeArea figure > div button.big{background-image: url(../image/myResume/smallIcon.png);}
.myResumeArea figure > div button.small{background-image: url(../image/myResume/smallIcon.png);}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 */
.myResumeArea figure figcaption{}
.myResumeArea figure figcaption > ul{display: flex; justify-content: space-between; flex-wrap: wrap;}
.myResumeArea figure figcaption > ul > li{width: 100%; font-size: 22px; font-weight: 300; color: #5f5f5f; }
.myResumeArea figure figcaption > ul > li:not(:last-child){margin-bottom: 60px;}
.myResumeArea figure figcaption > ul > li h4{width: 100%; height: 80px; font-size: 28px; font-weight: 500; padding: 0 30px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; background-color: #dfedf6; border: 1px solid #b5d6fa; margin-bottom: 10px;}
.myResumeArea figure figcaption > ul > li h4 button{width: 35px; height: 35px; background-repeat: no-repeat; background-position: center center; background-size: 100%; background-color: transparent; border: none;  text-indent: -9999px;}
.myResumeArea figure figcaption > ul > li h4 button:not([class]){background-image: url(../image/myResume/addIcon.png);}
.myResumeArea figure figcaption > ul > li h4 button.search{background-image: url(../image/myResume/searchIcon.png);}
.myResumeArea figure figcaption > ul > li .black{color: black; font-weight: 500;}
.myResumeArea figure figcaption > ul > li > ul > li button{width: 35px; height: 35px; background-color: transparent; border: none; background-repeat: no-repeat; background-position: center; background-size: 100%; text-indent: -9999px;}
.myResumeArea figure figcaption > ul > li > ul > li button:not([class]){background-image: url(../image/myResume/delete.png);}
.myResumeArea figure figcaption > ul > li > ul > li button.search{background-image: url(../image/myResume/g_searchIcon.png);}
.myResumeArea figure figcaption > ul > li > ul:not([class]) > li{width: 100%; height: 80px;  border: 1px solid #b5d6fa; background-color: white; display: flex; justify-content: space-between; align-items: center; padding: 0 25px 0 30px; box-sizing: border-box; }
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 기본정보*/
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li{justify-content: flex-start;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li button.move{background-image: url(../image/myResume/moveIcon.png); margin-right: 30px;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li[class] div{display: flex; align-items: center;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li[class] div::before{content: ''; display: inline-block; width: 35px; height: 35px; background-repeat: no-repeat; background-position: center; background-size: 100%; margin-right: 45px;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.age div::before{background-image: url(../image/myResume/ageIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.phoneNumber div::before{background-image: url(../image/myResume/phoneNumberIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.address div::before{background-image: url(../image/myResume/addressIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.Email div::before{background-image: url(../image/myResume/EmailIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns div::before{background-image: url(../image/myResume/snsIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns{justify-content: flex-start;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns a{display: inline-block; width: 35px; height: 35px; background-repeat: no-repeat; background-position: center; background-size: 100%; text-indent: -9999px;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns a:not(:last-child){margin-right: 25px;}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns a.instagram{background-image: url(../image/myResume/instagramIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns a.twitter{background-image: url(../image/myResume/twitterIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_basicArea ul li.sns a.facebook{background-image: url(../image/myResume/facebookIcon.png); width: 14px;}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 대표역량 */
.myResumeArea figure figcaption > ul > li.MR_abilityArea{display: flex; flex-direction: column; }
.myResumeArea figure figcaption > ul > li.MR_abilityArea ul.MRA_graphArea{flex: 1; display: flex; justify-content: space-around; align-items: center; background-color: white; border: 1px solid #b5d6fa; padding: 40px 0 50px;}
.myResumeArea figure figcaption > ul > li.MR_abilityArea ul.MRA_graphArea li > div{margin-bottom: 10px;}
.myResumeArea figure figcaption > ul > li.MR_abilityArea ul.MRA_graphArea li > p{text-align: center; font-size: 22px; font-weight: 300; color: #5f5f5f;}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 자격증 */
.myResumeArea figure figcaption > ul > li.MR_certificateArea ul li p[data-level]::after{content:' ' attr(data-level) '급';}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - OS */
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li[class] p{display: flex; align-items: center;}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li[class] p::before{content: '종합점수'; display: inline-block; width: 140px; height: 26px; background-repeat: no-repeat; background-position: center left; background-size: contain; display: flex; align-items: center; justify-content: flex-end; margin-right: 3px;}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li.word p::before{background-image:url(../image/myResume/wordIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li.excel p::before{background-image:url(../image/myResume/excelIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li.ppt p::before{background-image:url(../image/myResume/PPTIcon.png);}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li[class] p::after{content: '점';}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li div{display: flex; align-items: center;}
.myResumeArea figure figcaption > ul > li.MR_OSArea ul li div img{margin-right: 30px;}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 외국어 */


/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 경력, 학력, 대외활동 기간*/
.careerArea > li{padding: 80px 30px 30px 30px; background-color: white; display: flex;border: 1px solid #b5d6fa;  position: relative;}
.careerArea > li .termArea{width: 155px;}
.careerArea > li .termArea > div{display: flex; flex-wrap: wrap;}
.careerArea > li .termArea > div p{line-height: 24px;}
.careerArea > li .termArea > div p:nth-of-type(1)::after{content: '~';}
.careerArea > li .termArea > div p.totalArea{width: 100%;}
.careerArea > li .termArea > div p.totalArea::before{content: '(';}
.careerArea > li .termArea > div p.totalArea::after{content: ')';}
.careerArea > li .termArea > div p.totalArea span.yearData::after{content: '년';}
.careerArea > li .termArea > div p.totalArea span.monthData::after{content: '개월';}
.careerArea > li .termArea > dl{display: flex; margin-top: 15px;}
.careerArea > li .termArea > dl dt::after{content: ':';}
.careerArea > li .termArea > dl dd[data-unit]::after{content: attr(data-unit);}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 - 경력, 학력, 대외활동 세부내용 */
.careerArea > li .detailArea{flex: 1; display: flex; justify-content: space-between; border-left: 1px solid rgba(0, 0, 0, 0.1);}
.careerArea > li .detailArea > div:first-of-type{padding-left: 30px;}
.careerArea > li .detailArea > div:first-of-type div{display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 35px;}
.careerArea > li .detailArea > div:first-of-type div h5{width: 100%; margin-bottom: 10px; }
.careerArea > li .detailArea > div:first-of-type div p[data-detail]::after{content:'(' attr(data-detail) ')';}
.careerArea > li .detailArea > div:first-of-type div p[data-detail]::after{content:attr(data-detail);}
.careerArea > li .detailArea > div:first-of-type div p:not(:first-of-type)::before{content: '/';}
.careerArea > li .detailArea > div:first-of-type ul li:not(:last-child){margin-bottom: 8px;}
.careerArea > li .detailArea > div:first-of-type ul li::before{content: '-';}
.careerArea > li .detailArea > div:first-of-type dl{display: flex; flex-wrap: wrap; margin-top: 40px;}
.careerArea > li .detailArea > div:first-of-type dl dt{width: 100%; margin-bottom: 10px;}
.careerArea > li .detailArea > div:first-of-type dl dt::after{content: ':';}
.careerArea > li .detailArea > div:last-of-type{display: flex; flex-direction: column; justify-content: space-between; align-items: flex-end; position: absolute; top: 30px; right: 25px;}
.careerArea > li .detailArea > div:last-of-type mark{font-size: 28px; font-weight: 700; color: #006aed; background-color: transparent; margin-bottom: 25px;}
/* 나의 이력서 - 컨텐츠 박스 - 컨텐츠 -  추가 버튼*/
.myResumeArea figure figcaption > ul > li > button{width: 100%; height: 80px; font-size: 24px; font-weight: 300; color: black; background-color: white; border: 1px solid #b5d6fa;}
.myResumeArea figure figcaption > ul > li > button::after{content: ''; display: inline-block; width: 18px; height: 18px; background: url(../image/myResume/plusIcon.png) no-repeat center center/100%; margin-left: 15px;}
}